<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>

	<title>Logging-Store</title>
	<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css"
		  th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
	<link href="../css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" media="screen"/>
</head>

<body ng-app="myApp" ng-controller="LoggingStoreController">
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">

	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" rel="home" href="/">Logging-Store</a>
	</div>

	<div class="collapse navbar-collapse">

		<ul class="nav navbar-nav">
			<li><a href="/logout"><i>Logout</i></a></li>
			<!--<li><a href="#">Link</a></li>
			<li><a href="#">Link</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li class="divider"></li>
					<li><a href="#">Separated link</a></li>
					<li class="divider"></li>
					<li><a href="#">One more separated link</a></li>
				</ul>-->
			</li>
		</ul>
<!--
		<button type="button" class="btn btn-default navbar-btn">Button</button>
-->


		<div class="col-sm-3 col-md-3 pull-right">
			<div class="navbar-text"></div>
			<form class="navbar-form" role="search">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search log" ng-model="searchLog" name="srch-term" id="srch-term">
					<div class="input-group-btn">
						<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>


<div class="container">

	<div class="text-left">

		<!-- Info -->
		<div class="alert alert-info">
			<p><b>{{getAllRecords()}}</b> log found in the Logging-Store.</p>
			<p><i>Sort Type:</i> {{ sortType }}</p>
			<p><i>Sort Reverse:</i> {{ sortReverse }}</p>
			<p><i>Search Query:</i> {{ searchLog }}</p>
		</div>

		<!-- Logging-Store -->
		<table class="table table-bordered table-striped">
			<thead>
			<tr>
				<td>
					<a href="#" ng-click="sortType = 'id'; sortReverse = !sortReverse">
						ID
						<span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
						<span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
					</a>
				</td>
				<td>
					<a href="#" ng-click="sortType = 'timestamp'; sortReverse = !sortReverse">
						Timestamp
						<span ng-show="sortType == 'timestamp' && !sortReverse" class="fa fa-caret-down"></span>
						<span ng-show="sortType == 'timestamp' && sortReverse" class="fa fa-caret-up"></span>
					</a>
				</td>
				<td>
					<a href="#" ng-click="sortType = 'clientApplikation'; sortReverse = !sortReverse">
						Applikation
						<span ng-show="sortType == 'clientApplikation' && !sortReverse" class="fa fa-caret-down"></span>
						<span ng-show="sortType == 'clientApplikation' && sortReverse" class="fa fa-caret-up"></span>
					</a>
				</td>
				<td>
					<a href="#" ng-click="sortType = 'clientVersion'; sortReverse = !sortReverse">
						Version
						<span ng-show="sortType == 'clientVersion' && !sortReverse" class="fa fa-caret-down"></span>
						<span ng-show="sortType == 'clientVersion' && sortReverse" class="fa fa-caret-up"></span>
					</a>
				</td>
				<td>
					<a href="#" ng-click="sortType = 'debugInformation'; sortReverse = !sortReverse">
						Debug Information
						<span ng-show="sortType == 'debugInformation' && !sortReverse" class="fa fa-caret-down"></span>
						<span ng-show="sortType == 'debugInformation' && sortReverse" class="fa fa-caret-up"></span>
					</a>
				</td>
				<td>
					<a href="#" ng-click="sortType = 'faultCode'; sortReverse = !sortReverse">
						Fault Code
						<span ng-show="sortType == 'faultCode' && !sortReverse" class="fa fa-caret-down"></span>
						<span ng-show="sortType == 'faultCode' && sortReverse" class="fa fa-caret-up"></span>
					</a>
				</td>
				<td>
					<a href="#" ng-click="sortType = 'faultMessage'; sortReverse = !sortReverse">
						Fault Message
						<span ng-show="sortType == 'faultMessage' && !sortReverse" class="fa fa-caret-down"></span>
						<span ng-show="sortType == 'faultMessage' && sortReverse" class="fa fa-caret-up"></span>
					</a>
				</td>
				<td>
					<a href="#" ng-click="sortType = 'faultType'; sortReverse = !sortReverse">
						Applikation
						<span ng-show="sortType == 'faultType' && !sortReverse" class="fa fa-caret-down"></span>
						<span ng-show="sortType == 'faultType' && sortReverse" class="fa fa-caret-up"></span>
					</a>
				</td>
				<td>
					<a href="#" ng-click="sortType = 'severity'; sortReverse = !sortReverse">
						Severity
						<span ng-show="sortType == 'severity' && !sortReverse" class="fa fa-caret-down"></span>
						<span ng-show="sortType == 'severity' && sortReverse" class="fa fa-caret-up"></span>
					</a>
				</td>
				<td>
					<a href="#" ng-click="sortType = 'correlationId'; sortReverse = !sortReverse">
						Correlation ID
						<span ng-show="sortType == 'correlationId' && !sortReverse" class="fa fa-caret-down"></span>
						<span ng-show="sortType == 'correlationId' && sortReverse" class="fa fa-caret-up"></span>
					</a>
				</td>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="log in store | orderBy:sortType:sortReverse | filter:searchLog">
				<td>{{log.id}}</td>
				<td>{{log.timestamp}}</td>
				<td>{{log.clientApplikation}}</td>
				<td>{{log.clientVersion}}</td>
				<td>{{log.debugInformation}}</td>
				<td>{{log.faultCode}}</td>
				<td>{{log.faultMessage}}</td>
				<td>{{log.faultType}}</td>
				<td>{{log.severity}}</td>
				<td>{{log.correlationId}}</td>
			</tr>
			</tbody>
		</table>





	</div>

</div><!-- /.container -->
<!-- script references -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>
<script src="../bower_components/angular-resource/angular-resource.js"></script>
<script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="../bower_components/angular-hateoas/src/angular-hateoas.js"></script>
<script src="../bower_components/angular-spring-data-rest/dist/angular-spring-data-rest.js"></script>


<script src="app.js"></script>
<script src="features/loggingstore/controller.js"></script>
<script src="features/loggingstore/services.js"></script>



</body>
</html>
