html {

}
body {
    padding-top: 50px;
}

.bgimg{
    background: url(../images/bg.jpeg) no-repeat center center fixed transparent;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}
.bgimg2{
    background: url(../images/bg2.jpeg) no-repeat center center fixed transparent;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier8 */
}
.logtable{
    background-color:#e7edb5;
    /*#c4edb5;*/
}
.button-link {
    background-color: transparent;
    border: none;
    color: #08c;
}

.button-link:hover {
    color: #005580;
    text-decoration: underline
}

