html {

}
body {
    padding-top: 50px;
}
.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 400px;
    height: 100%
}

.bgimg{
    background: url(../images/bg.jpeg) no-repeat center center fixed transparent;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

.logtable{
    background-color:#e7edb5;
    /*#c4edb5;*/
}

.button-link {
    background-color: transparent;
    border: none;
    color: #08c;
}

.button-link:hover {
    color: #005580;
    text-decoration: underline
}

