<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout">
<head>
    <title>Customer : View all</title>
</head>
<body>
<h1 layout:fragment="header">PoC</h1>

<div layout:fragment="content" class="container">

    <div class="well well-lg">
        <p><a href="customer">Customers ServerSide App</a></p>
        <p><a href="ready/">Ready Controller</a></p>
        <p><a href="health/">Health Metric</a></p>
        <p><a href="info/">Info Metric</a></p>
        <p><a href="env/">Environment Metric</a></p>
        <p><a href="dump/">Dump Metric</a></p>
        <p><a href="api/customer">Customer API</a></p>
        <p><a href="hal/customer/">Customer Hateoas API</a></p>
        <p><a href="app/index.html">Customer AngularJS App</a></p>
    </div>
</div>
</body>
</html>