<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
        layout:decorator="layout">
<head>
    <title>Logging-Store</title>
</head>
<body>
<h1 layout:fragment="header"></h1>

<div layout:fragment="content" class="container">

    <div class="well well-lg">
        <ul>
            <li><a href="#">Manual</a></li>
            <li><a href="app/index.html">Logging-Store</a></li>
        </ul>
    </div>


    <p th:inline="text" class="navbar-text navbar-right">The following Actuator endpoints are available</p>


    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>ID</td>
            <td>Description</td>
            <td>Sensitive</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href="/autoconfig">autoconfig</a></td>
            <td>Displays an auto-configuration report showing all auto-configuration candidates and the reason why they
                ‘were’ or ‘were not’ applied.
            </td>
            <td>true</td>
        </tr>
        <tr>
            <td><a href="/beans">beans</a></td>
            <td>Displays a complete list of all the Spring beans in your application.</td>
            <td>true</td>
        </tr>
        <tr>
            <td><a href="/configprops">configprops</a></td>
            <td>Displays a collated list of all @ConfigurationProperties.</td>
            <td>true</td>
        </tr>
        <tr>
            <td><a href="/dump">dump</a></td>
            <td>Performs a thread dump.</td>
            <td>true</td>
        </tr>
        <tr>
            <td><a href="/env">env</a></td>
            <td>Exposes properties from Spring’s ConfigurableEnvironment.</td>
            <td>true</td>
        </tr>
        <tr>
            <td><a href="/health">health</a></td>
            <td>Shows application health information (a simple ‘status’ when accessed over an unauthenticated connection
                or full message details when authenticated).
            </td>
            <td>false</td>
        </tr>
        <tr>
            <td><a href="/info">info</a></td>
            <td>Displays arbitrary application info.</td>
            <td>false</td>
        </tr>
        <tr>
            <td><a href="/metrics">metrics</a></td>
            <td>Shows ‘metrics’ information for the current application.</td>
            <td>true</td>
        </tr>
        <tr>
            <td><a href="/mappings">mappings</a></td>
            <td>Displays a collated list of all @RequestMapping paths.</td>
            <td>true</td>
        </tr>
        <tr>
            <td><a href="/shutdown">shutdown</a></td>
            <td>Allows the application to be gracefully shutdown (not enabled by default).</td>
            <td>true</td>
        </tr>
        <tr>
            <td><a href="/trace">trace</a></td>
            <td>Displays trace information (by default the last few HTTP requests).</td>
            <td>true</td>
        </tr>
        </tbody>
    </table>


</div>
</body>
</html>
